<% include header.html %>
  <body>
      <div id="all">

        <div class="content width">
            <H1><a href="/">Youtube Playlist</a></H1>
            
            <%-body -%>
            <div class="clear"></div>
        </div>
        <div class="foot">
            <div class="width">
                <div class="fleft">
                    <br />
                    Copyright &COPY; 2013 | <a href="http://dreamware.cz">DreamWare.cz</a>
                </div>
                <div class="fright">
                    <div style="display: inline-block; margin-right: 4px;">
                        Wanna more cool <br /> feautures?
                        Like us!
                    </div>
                    <a href="https://www.facebook.com/dreamware.cz" target="_blank" class="fb_icon"></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
      <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-44582724-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>