<!DOCTYPE html>
<html>
  <head>
    <title></title>
    
    <!--<script src="http://code.jquery.com/jquery.min.js"></script>-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-1.0.0.js"></script>
    <script src="/js/jquery.form.js"></script>
    
    
    <script type='text/javascript' src='/jwplayer/jwplayer.js'></script>
    <link rel="stylesheet" type="text/css" href="/css/slider.css">
    <script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>

    <!--================ AutoSize ===============-->
    <script type="text/javascript" src="/js/jquery.autosize-min.js"></script>
    
    <!--============ CoreFunct ==============-->
    <script src="/js/functions.js"></script>
    <script src="/js/common.js"></script>
    
    <!--=========== Styles ==============-->
    <link rel="stylesheet" href="/css/roboto.css" />
    <link rel="stylesheet" href="/css/clear.css" />
    <link rel="stylesheet" href="/css/plugins.css" />
    
    <link rel="stylesheet" href="/css/style.css" />
    
    
    <link rel="shortcut icon" href="/img/favicon.ico" />
  </head>