
<div class="playlist-wrapper hidden">
    
    <div class="player_content">
        <span id="playPrev" title="Play prev" class="player_arrows left">&lsaquo;</span>
        <span id="playNext" title="Play next" class="player_arrows right">&rsaquo;</span>
        
        <div id="player"></div>
        <a class="link" target="_blank" href="">
            <h2 class="title"></h2>
        </a>
        <div class="clear"></div>
    </div>
    
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul id="playlist"></ul>
        </div>
        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
    </div>
    <div class="fright pointer" id="addMore">Add more</div>
    <div class="clear"></div>
</div>


<br />
<form class="fancy_style" id="f1" method="post" action="/">
    <span class="clearText">clear</span>
    <span class="hide hidden" id="hide">hide</span>
    <textarea name="list" class="autosize" id="list">
Oblivion M83 feat. Susanne Sundfør
Röyskopp & Sundfor - Running To The Sea (Protohype & Carnage Remix)
Metric - Artificial Nocturne (Love Thy Brother Remix) 
Erika Spring - 6 More Weeks (Chrome Canyon Remix)
Wake Owl - Gold (Noah Hyde & Magic Sword Remix)</textarea>
    <input type="submit" id="send" class="button" value="Run!" />
    <div class="clear"></div>
</form>

<br />
<br />
